h2 {
  text-transform: capitalize;
}

.mapboxgl-popup-content {
  padding: 0;
  /* width: 500px; */
  width: 30vw;
}

.mapboxgl-popup-content h2 {
  background-color: #ff6900;
  color: white;
  padding: 5px;
  font-weight: 700;
  margin: 0;
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -8px;
}

.mapboxgl-popup-content p {
  background-color: #555d66;
  color: white;
  padding: 15px;
  margin: 0;
  margin-bottom: -13px;
  margin-left: -8px;
  margin-right: -8px;
}

.mapboxgl-popup-tip {
  border-bottom-color: #91c949;
}

.filter-box {
  font: 12px/20px;
  position: absolute;
  width: 200px;
  top: 66px;
  left: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  z-index: 200;
}

.filter-box background {
  opacity: 0.5;
}

.filter-box-content.last {
  margin-bottom: 0;
}
/* Customize the label (the container) */
.filter-box-content {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.filter-box-content input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.filter-box-content:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.filter-box-content input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.filter-box-content input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.filter-box-content .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
